@media (max-width: 768px) {
    .git-icons-container {
      overflow: hidden;
      width: 100%;
      position: relative;
    }

    
  
    .git-icons-scroll {
      display: flex;
      width: max-content;
      animation: scroll-right 25s linear infinite;
      gap: 2rem;
    }
  
    @keyframes scroll-right {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-50%);
      }
    }
  }
  
  @media (max-width: 480px) {

    .gitres {
        margin-top: 20px;
        margin-left: 10px;

    }
  }